@import '../../node_modules/sassdash/index'
@import '../../node_modules/sass-svg/index'
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700')
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500')

$white: #fff
$tWhite95: rgba(255, 255, 255, 0.95)
$modalGray: #fcfcfc
$lightGray: #f6f6f6
$lightSilver: #eee
$lightAsh: #e7edeb
$chrome: #ddd
$silver: #ccc
$mediumGray: #999
$gray: #808080
$darkGray: #333
$primary: #00aad4
$dPrimary: darken($primary, 10%)
$secondary: #00aad4
$dSecondary: darken($secondary, 10%)
$tertiary: #f55
$dTertiary: lighten($tertiary, 5%)

$highlight: #72be48

$headingFont: 'Source Sans Pro'
$textFont: 'Raleway'

body, html, button, input, select, textarea, a, p
  font-family: $textFont, sans-serif
  font-weight: 400

h1, h2, h3, h4, h5
  font-family: $headingFont, serif
  font-weight: 700

h1
  font-size: 48px

h2
  font-size: 36px

@media(max-width: 767px)
  h1
    font-size: 36px
  h2
    font-size: 24px

p
  font-size: 16px

a
  color: $darkGray

a:hover, a:active, a:focus
  color: $tertiary
  text-decoration: none

p a
  border-bottom: 1px dashed $silver

p a:hover
  border-bottom: 1px solid transparent

@media(max-width: 575px)
  h1
    font-size: 36px
  h2
    font-size: 28px

span.rv
  unicode-bidi: bidi-override
  direction: rtl

.dn
  display: none

.btn, .btn-huge, .btn-cta-fixed
  min-height: 36px
  font-size: 13px
  font-weight: 500
  text-transform: uppercase

a.btn
  color: $white
  padding: 9px 16px 7px
  outline: none

.btn-huge, a.btn-huge
  font-size: 18px
  padding: 18px 64px

a.btn-cta-fixed
  position: fixed
  width: 90%
  bottom: 0
  margin: 0 0 12px 5%
  padding: 18px
  font-size: 17px
  z-index: 100

.btn-primary, .btn-primary:focus
  background: $primary
  border: 1px solid $primary

.btn-primary:hover
  background: $dPrimary
  border: 1px solid $dPrimary

a.btn-outline-primary
  color: $primary
  background: transparent
  border: 1px solid $primary

a.btn-outline-primary:hover
  color: $white
  background: $primary
  border: 1px solid $primary

.btn-outline-white
  background: transparent
  border: 1px solid $white

.btn-outline-white:hover
  background: $white
  color: $primary

.btn-outline-dark, a.btn-outline-dark
  background: transparent
  border: 1px solid $darkGray
  color: $darkGray

.btn-outline-dark:hover, a.btn-outline-dark:hover
  background: $darkGray
  color: $white

span.cc-message
  font-size: 13px
  line-height: 1.1

a.cc-btn
  padding: 5px 8px

a.cc-btn:hover
  background: $dPrimary !important

section, footer
  position: relative
  width: 100%

@media(min-width: 540px)
  .p-md-5p
    padding: 5%
  .px-md-5p
    padding-left: 5%
    padding-right: 5%
  .pr-md-10p
    padding-right: 10%

.mobile-nav
  display: none
  position: fixed
  width: 100%
  height: 100%
  background: rgba(255, 255, 255, 0.97)
  z-index: 10000
  img
    position: relative
    top: 8px
    left: 1px
  a
    font-size: 18px
    color: $darkGray
    text-transform: uppercase
  a:hover, a.active
    color: $tertiary
  button.nav-close
    display: inline-block
    width: 24px
    height: 24px
    background: url('/assets/img/ic_nav_close.png') no-repeat center center / 24px 24px
    cursor: pointer
    border: none
    outline: none
    transition: transform 200ms
    margin: 21px 2px 0 0
  .nav-close:hover
    transform: scale(1.1)

@media(max-width: 575px)
  .mobile-nav
    img
      left: 1px

.navbar
  padding: 8px 48px

#navbar
  height: 64px
  transition: all 600ms
  .navbar-brand
    position: relative
    img
      position: absolute
      left: 0
      top: -20px
  #logo
    display: none
    z-index: 2
  #logo-white
    z-index: 3
  .navbar-toggler
    cursor: pointer
    padding-top: 7px
    outline: none
  .navbar-toggler-right
    right: 0
  .navbar-toggler-icon
    display: block
    width: 25px
    height: 25px
    margin: 4px 4px 0 0
    background: url('/assets/img/ic_nav_toggle_white.png') no-repeat 0 0 / 25px 25px
  .nav-link
    font-size: 14px
    font-weight: 500
    text-transform: uppercase
    color: $white
  .nav-link:not(.signup):hover, .nav-link.active
    opacity: 0.5
  .nav-link.signup
    display: inline-block
    font-size: 13px
    padding: 8px 16px
    margin-top: -2px
    color: $white
    border: 1px solid $white
    border-radius: 4px
    transition: background 300ms
  .nav-link.signup:hover
    background: $primary
    border: 1px solid $primary
  .navbar-collapse.collapse.show
    margin-top: 24px
    background-color: $white

@media(max-width: 991px)
  .navbar
    padding: 8px 16px
  #navbar .navbar-brand img
    top: 0

@media(max-width: 575px)
  #navbar
    .container
      margin: 0

#navbar.opaque
  background: $white
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1)
  .navbar-toggler-icon
    background: url('/assets/img/ic_nav_toggle.png') no-repeat 0 0 / 25px 25px
  .nav-link:not(.signup)
    color: $darkGray
  .nav-link:not(.signup).active
    color: $tertiary
    opacity: 1
  .nav-link.signup
    color: $darkGray
    border: 1px solid $darkGray
  .nav-link.signup:hover
    color: $white
    border: 1px solid $white

.sec-welcome
  width: 100%
  height: calc(100vh + 10px)
  color: $white
  z-index: 0
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('/assets/img/bg_cover_01.jpg') no-repeat center center
  background-size: cover
  .endorsements
    min-width: 128px
    width: 80%
    max-width: 180px
    min-height: 300px
    background: rgba(255, 255, 255, 0.1)
    margin-left: -15px
    padding: 16px
    border-radius: 0 4px 4px 0
    p, span
      font-size: 12px
      color: $lightSilver
    img
      display: block
      margin: 16px 0
  .claim
    h1
      font-size: 54px
    ul
      margin: 32px 0 40px -36px
      list-style: none
      li
        color: $white
        background: no-repeat 0 0 / 24px 24px
        @include svg((viewBox: 0 0 24 24))
          @include svg('path', (fill: none, stroke: $white, stroke-width: 3, d: 'm 3.217858,14.01096 6.0658,5.41585 11.2649,-16.24755'))
        margin: 8px 0
        padding: 0 0 4px 36px
        font-size: 24px
        line-height: 1.2

.sec-welcome.job
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('/assets/img/bg_cover_15.jpg') no-repeat center center
  background-size: cover

.sec-welcome.freelance
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('/assets/img/bg_cover_09.jpg') no-repeat center center
  background-size: cover

#claim
  height: 100%

#mob-end
  width: 100%
  height: 25%
  padding: 0
  margin-bottom: 25%
  .endorsements
    width: 100%
    max-width: 100%
    min-height: 0
    border-radius: 0
    margin: 0
    p
      margin-bottom: 0

@media(max-width: 767px)
  .sec-welcome
    height: calc(100vh + 90px)
    .claim
      padding: 0 20px
      h1
        font-size: 40px
      ul li
        padding-left: 32px
        font-size: 20px
        background: no-repeat 0 0 / 20px 20px
        @include svg((viewBox: 0 0 24 24))
          @include svg('path', (fill: none, stroke: $white, stroke-width: 3, d: 'm 3.217858,14.01096 6.0658,5.41585 11.2649,-16.24755'))
  #claim
    height: 60%
    justify-content: flex-end !important

.sec-features
  margin-top: -120px
  .feature-box
    height: 120px
    background: rgba(0, 0, 0, 0.4)
    border-bottom: 10px solid transparent
    svg
      margin-top: 8px
      width: 64px
      height: 64px
    p
      margin-top: -5px
      color: $white
      font-weight: 600
  .feature-box.active, .feature-box:hover
    cursor: pointer
    svg path
      stroke: $secondary
    p
      color: $secondary
  .feature-box.active
    background: rgba(0, 0, 0, 0.55)
    border-bottom: 10px solid $secondary
  .feature-heading
    padding: 24px 39px
    h3
      color: $secondary
      font-size: 24px
  .feature-details
    p
      color: $gray
      font-size: 16px
    ul
      margin: 32px 0 40px -42px
      list-style: none
      li
        color: $darkGray
        background: no-repeat 0 0 / 32px 32px
        @include svg((viewBox: 0 0 24 24))
          @include svg('path', (fill: none, stroke: $primary, stroke-width: 3, d: 'm 3.217858,14.01096 6.0658,5.41585 11.2649,-16.24755'))
        margin: 8px 0
        padding: 0 0 4px 40px
        font-size: 26px
        line-height: 1.2
  .goal-cats svg
    width: 360px
    height: 360px
    g.active
      circle
        fill: $secondary
      path
        stroke: $white
  #active-cat
    position: absolute
    top: calc(50% - 8px)
    font-size: 18px
    text-transform: uppercase
    text-align: center
    line-height: 1.1
    color: $secondary

#slide2, #slide3, #slide4
  opacity: 0

#feature-rows
  position: relative
  min-height: 540px
  width: 100%
  .row
    position: absolute
    width: 100%
    top: 0
    left: 0
  .phone
    position: relative
    width: 308px
    height: 632px
    background: url('/assets/img/bg_phone.png')
    .screen
      position: absolute
      width: 271px
      height: 482px
      top: 75px
      left: 18px
    .screen.screen01
      background: url('/assets/img/img_screen_01.jpg') no-repeat center center / 271px 482px
    .screen.screen02
      background: url('/assets/img/img_screen_02.jpg') no-repeat center center / 271px 482px
    .screen.screen03
      background: url('/assets/img/img_screen_03.jpg') no-repeat center center / 271px 482px

@media(min-width: 1440px)
  #feature-rows
    min-height: 600px

@media(max-width: 991px)
  #feature-rows
    min-height: 640px

@media(max-width: 767px)
  .sec-features
    margin-top: -90px
    .feature-box
      height: 90px
    .feature-details
      padding: 24px 39px
      ul li
        font-size: 22px
    .goal-cats svg
      width: 240px
      height: 240px
  #feature-rows
    min-height: 760px
    .phone
      height: 360px
      overflow-y: hidden

@media(max-width: 575px)
  #feature-rows
    min-height: 840px

.sec-video-testimonial
  height: 75vh
  background: url('/assets/img/bg_cover_11.jpg') top left no-repeat
  background-size: cover
  .video-title
    .play-button
      display: inline-block
      width: 85px
      height: 85px
      margin: 24px
      opacity: 0.8
      background: url('/assets/img/ic_video_play.png') no-repeat center center / 85px 85px
      transition: all 400ms
    h3
      color: $white
      font-size: 32px
      font-family: $textFont
  .video-title:hover
    cursor: pointer
    .play-button
      opacity: 1
      transform: scale(1.05)

@media(max-width: 991px)
  .sec-video-testimonial
    height: 40vh

.modal-backdrop.show
  opacity: 0.6

.modal-dialog
  width: 100%
  max-width: 100%

@media (min-width: 992px)
  #modal-video
    .modal-dialog
      width: 80%
      max-width: 80%

.modal-content
  margin-top: 0
  background: none
  border: 0
  border-radius: 0
  box-shadow: none

.modal-body
  padding: 0 25px 25px 25px

.modal-header
  padding: 0 25px 15px 25px
  text-align: right

.modal-header, .modal-footer
  border: 0

button.close
  font-size: 44px
  color: $white
  margin: -16px 0 0 16px
  outline: none

button.close:hover
  color: $white

.exit-content
  display: inline-block
  .wrapper
    display: flex
  .form
    width: 540px
    height: 479px
  .goodie
    position: relative
    height: 479px
    display: flex
    justify-content: center
    align-items: center
    padding: 0 48px
    background: $modalGray
    button.close
      position: absolute
      top: 16px
      right: 12px
      color: $darkGray

.sec-testimonials
  padding-top: 24px
  .heading
    h2
      font-size: 48px
    p
      font-size: 20px
      margin: 20px 0 32px
  #testis
    margin-top: 16px
    z-index: 10
  .btn-prev, .btn-next
    position: absolute
    top: calc(50% - 90px)
    width: 64px
    height: 180px
    transition: transform 400ms
  .btn-prev
    left: -30px
    background: url('/assets/img/btn_prev.png') no-repeat center center / 64px 180px
  .btn-next
    right: -30px
    background: url('/assets/img/btn_next.png') no-repeat center center / 64px 180px
  .btn-prev:hover, .btn-next:hover
    cursor: pointer
    transform: scale(1.1)
  .testi
    outline: none
    padding: 16px
    margin: 0 8px
    background: $tWhite95
    border-radius: 5px
    h3
      font-family: $textFont
      font-size: 32px
      font-weight: 600
      margin-bottom: 10px
    img.rounded-circle
      float: left
      vertical-align: middle
      margin-right: 20px
    .meta
      float: left
      min-width: 180px
      margin: 24px 0 0
    .review
      clear: both
      padding-top: 16px
    .star
      display: inline-block
      width: 25px
      height: 25px
    .star.empty
      @include svg((viewBox: 0 0 25 25))
        @include svg('path', (fill: none, stroke: $primary, stroke-width: 2, stroke-linejoin: round, d: 'm 12.5,2.0382 2.719402,7.8233 8.280811,0.1688 -6.600128,5.0038 2.39842,7.9277 L 12.5,18.231 5.7014945,22.9618 8.0999147,15.0341 1.4997875,10.0303 9.7805977,9.8615 Z'))
    .star.half
      @include svg((viewBox: 0 0 25 25))
        @include svg('path', (fill: none, stroke: $primary, stroke-width: 2, stroke-linejoin: round, d: 'm 12.5,2.0382 2.719402,7.8233 8.280811,0.1688 -6.600128,5.0038 2.39842,7.9277 L 12.5,18.231 5.7014945,22.9618 8.0999147,15.0341 1.4997875,10.0303 9.7805977,9.8615 Z'))
        @include svg('path', (fill: $primary, stroke: none, d: 'M 12.5,2.0382 12.5,18.231 5.7014945,22.9618 8.0999147,15.0341 1.4997875,10.0303 9.7805977,9.8615 Z'))
    .star.full
      @include svg((viewBox: 0 0 25 25))
        @include svg('path', (fill: $primary, stroke: $primary, stroke-width: 2, stroke-linejoin: round, d: 'm 12.5,2.0382 2.719402,7.8233 8.280811,0.1688 -6.600128,5.0038 2.39842,7.9277 L 12.5,18.231 5.7014945,22.9618 8.0999147,15.0341 1.4997875,10.0303 9.7805977,9.8615 Z'))

.step
  font-size: 12px
  margin-top: -16px
  color: $silver
  text-transform: uppercase

.trial
  position: absolute
  top: -6px
  right: -6px
  font-size: 14px
  font-weight: 600
  border-radius: 0 0 0 16px
  padding: 12px 24px
  color: $white
  background: $highlight
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.2)

.sec-pricing
  padding-bottom: 64px
  .price-box
    position: relative
    text-align: center
    padding: 32px 16px 16px
    border: 1px solid $silver
    margin: 0 8px 8px
    .discount
      display: none
      .corner
        position: absolute
        content: ''
        display: block
        width: 0
        height: 0
        top: 0
        right: 0
        border-style: solid
        border-width: 0 96px 96px 0
        border-color: transparent $lightGray transparent transparent
      .amount
        position: absolute
        top: 7px
        right: 7px
        color: $tertiary
        font-size: 26px
        font-weight: 600
        z-index: 10
        transform: rotate(45deg)
  .duration
    font-weight: 600
    font-size: 18px
    color: $gray
    text-transform: uppercase
    margin-top: 32px
  .price
    font-size: 64px
    font-weight: 600
    sup
      font-size: 24px
      top: -24px
      left: -4px
  .interval
    font-size: 14px
    margin-left: -52px
  .billed
    font-size: 14px
    color: $gray
    margin: -8px 0 24px 0
  ul.ticks
    margin-top: 16px
    text-align: left
    list-style: none
    li
      font-size: 15px
    li:before
      content: '✔'
      margin: 0 14px 0 -26px
  .btn
    font-size: 18px
    padding: 16px 0
  .btn:hover
    cursor: pointer
  .ribbon
    position: relative
    display: inline-block
    height: 48px
    font-size: 18px
    padding: 4px 24px
    margin: 8px 0
    color: $white
    background: $tertiary
    .discount
      font-size: 24px
      font-weight: 600
    .until
      font-size: 16px
      font-weight: 400
  .ribbon::before, .ribbon::after
    content: ''
    display: block
    position: absolute
    width: 24px
    height: 48px
  .ribbon::before
    top: 0
    left: -24px
    @include svg((viewBox: 0 0 24 48))
      @include svg('path', (fill: $dTertiary, stroke: none, d: 'M 0,4 16.6667,24 0,44 l 23.9998,0 0,-40 z'))
  .ribbon::after
    top: 0
    right: -24px
    @include svg((viewBox: 0 0 24 48))
      @include svg('path', (fill: $dTertiary, stroke: none, d: 'M 23.9998,4 7.3331,24 23.9998,44 0,44 0,4 Z'))
  .explanation p
    font-size: 13px
    color: $gray
    margin: 0

@media(min-width: 992px)
  .sec-pricing
    .prices [class^="col-"]
      padding-left: 0
      padding-right: 0
      max-width: 310px
    .price-box
      min-height: 412px

@media(max-width: 400px)
  .sec-pricing
    .ribbon
      padding-top: 8px
      .discount
        font-size: 18px
      .until
        font-size: 13px

.sec-wyg
  min-height: 60vh
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/img/bg_cover_00.jpg') no-repeat center center
  background-size: cover
  color: $white
  h3
    font-family: $textFont
    font-size: 28px
    padding-left: 24px
    margin: 24px 0 40px
    color: $white
  ul
    list-style: none
    padding: 0 8px 0 24px
    li
      background: no-repeat 0 0 / 24px 24px
      @include svg((viewBox: 0 0 24 24))
        @include svg('path', (fill: none, stroke: $primary, stroke-width: 3, d: 'm 3.217858,14.01096 6.0658,5.41585 11.2649,-16.24755'))
      margin: 16px 0
      padding: 0 0 4px 32px
      font-size: 18px
      line-height: 1.2

.sec-faq
  background: $lightGray
  padding-bottom: 48px
  .q, .a
    width: 100%
    text-align: left
    padding: 0 8px 0 48px
  .q
    cursor: pointer
    font-size: 20px
    font-weight: 500
    margin-bottom: 24px
  .q:before
    content: ''
    display: inline-block
    width: 24px
    height: 24px
    margin: 4px 12px 0 -38px
    vertical-align: top
    background: no-repeat 0 0 / 20px 20px
    @include svg((viewBox: 0 0 20 20))
      @include svg('path', (fill: none, stroke: $primary, stroke-width: 3, d: 'M 20,10 0,10'))
      @include svg('path', (fill: none, stroke: $primary, stroke-width: 3, d: 'm 10,0 0,20'))
  .q.open:before
    background: no-repeat 0 0 / 20px 20px
    @include svg((viewBox: 0 0 20 20))
      @include svg('path', (fill: none, stroke: $primary, stroke-width: 3, d: 'M 20,10 0,10'))
  .a
    display: none
    font-size: 14px
    color: $darkGray
  hr
    border-top: 1px solid $chrome
    margin: 24px 0

@media(max-width: 575px)
  .sec-faq
    .q
      font-size: 18px

form
  .form-control
  font-size: 15px
  color: $darkGray
  .form-check-label
    font-size: 15px
    color: $darkGray
  input[type="checkbox"]
    margin-right: 4px
  .btn
    font-size: 16px
    padding: 16px 0
    margin-top: 32px
  .with-errors ul li
    font-size: 12px
    color: $tertiary
    margin-top: 4px

.sec-signup
  .card
    position: relative
    padding: 54px 16px 4px
  .chosen, .price, .discount
    font-size: 13px
    color: $gray
  .package
    font-weight: 600
    font-size: 24px
    color: $primary
    text-transform: uppercase
    margin: 8px 0
  hr
    margin: 16px 0
    border-top: 1px solid $chrome
  .card ul
    text-align: left
    list-style: none
    li
      background: no-repeat 0 0 / 20px 20px
      @include svg((viewBox: 0 0 24 24))
        @include svg('path', (fill: none, stroke: $primary, stroke-width: 3, d: 'm 3.217858,14.01096 6.0658,5.41585 11.2649,-16.24755'))
      margin: 4px 0
      padding: 0 0 4px 32px
      font-size: 17px
  .disclaimer
    font-size: 13px
    color: $gray

#btn-submit
  position: relative
  height: 55px

.sec-goals
  .category
    h3
      font-family: $textFont
      font-size: 24px
      font-weight: 400

.sec-stories
  background: $lightGray
  .story
    .photo
      position: relative
      z-index: 100
      img
        border: 8px solid $white
        margin: 24px -18px 24px 0
        transform: rotate(-4deg)
        box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.15)
    .box
      position: relative
      background: $white
      box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1), -3px -6px 12px rgba(0, 0, 0, 0.05)
      padding: 32px 16px 32px 54px
      h3
        font-family: $textFont
        font-size: 24px
        font-weight: 400
        color: $primary
      .aspect
        min-width: 30%
        padding-right: 24px
      .caption
        font-size: 20px
        color: $darkGray
      .content
        font-size: 14px
        color: $gray
      .testimonial
        padding: 24px 16px 0 8px
        p
          margin-bottom: 0

.sec-how-it-works
  .steps
    background: url('/assets/img/bg_vdotted_line.png') repeat-y left 42px top 0 / 12px 12px
    h3
      font-family: $textFont
      font-size: 24px
      color: $primary
      font-weight: 400
    p
      margin-bottom: 0
    .explanation
      font-size: 13px
      color: gray

@media (min-width: 768px)
  .sec-stories .story .photo.right img
    margin: 24px 0 24px -28px
    box-shadow: -8px 8px 12px rgba(0, 0, 0, 0.15)

@media (max-width: 575px)
  .sec-stories .story .box
    padding-left: 22px

@media (max-width: 767px)
  .sec-stories .story .photo img
    margin: 0 0 -10px 8px

.sec-cta
  background: $lightAsh
  h2
    font-size: 48px
  p
    font-size: 20px
    margin: 20px 0 32px

.sec-advantages
  .advantage
    h3
      font-family: $textFont
      font-weight: 400
      text-transform: uppercase
      font-size: 16px
    p
      font-size: 14px

.sec-cta-small
  background: $primary
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.1)

@media(max-width: 767px)
  .sec-cta
    h2
      font-size: 36px
    p
      font-size: 18px
    img
      width: 225px
      height: 360px

.sec-auth
  min-height: 60vh

footer
  padding: 48px 0 96px
  a, span
    display: block
    font-size: 13px
  span
    color: $silver
  div.rating
    margin-bottom: 4px
    font-size: 14px
    font-weight: 500
    color: $gray
  span.rating
    display: inline-block
    margin-left: 4px
    font-size: 15px
    color: $darkGray
  a
    color: $gray
  a:hover
    color: $tertiary
  #stars
    vertical-align: middle
  .social
    a
      margin: 8px 4px
      display: inline-block
      opacity: 0.75
    a:hover
      opacity: 1

.cover-page
  width: 100%
  height: 80vh
  color: $white

.cover-cta-page
  width: 100%
  height: 70vh
  color: $white

.cover-how-it-works
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/img/bg_cover_16.jpg') no-repeat center top
  background-size: cover, cover

.cover-goals
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/img/bg_cover_17.jpg') no-repeat center top
  background-size: cover, cover

.cover-stories
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/assets/img/bg_cover_18.jpg') no-repeat center top
  background-size: cover, cover

.spinner
  position: absolute
  top: 18px
  left: calc(50% - 35px)
  width: 70px
  text-align: center
  opacity: 0.0

.spinner > div
  width: 16px
  height: 16px
  background-color: $white
  border-radius: 100%
  display: inline-block
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both
  animation: sk-bouncedelay 1.4s infinite ease-in-out both

.spinner .bounce1
  -webkit-animation-delay: -0.32s
  animation-delay: -0.32s

.spinner .bounce2
  -webkit-animation-delay: -0.16s
  animation-delay: -0.16s

@keyframes sk-bouncedelay
  0%, 80%, 100%
    -webkit-transform: scale(0)
    transform: scale(0)
  40%
    -webkit-transform: scale(1.0)
    transform: scale(1.0)

@-webkit-keyframes sk-bouncedelay
  0%, 80%, 100%
    -webkit-transform: scale(0)
  40%
    -webkit-transform: scale(1.0)

.typed-cursor
  color: $primary
  opacity: 1
  font-weight: 100
  -webkit-animation: blink 0.7s infinite
  -moz-animation: blink 0.7s infinite
  -ms-animation: blink 0.7s infinite
  -o-animation: blink 0.7s infinite
  animation: blink 0.7s infinite

@keyframes blink
  0%
    opacity: 1
  50%
    opacity: 0
  100%
    opacity: 1

@-webkit-keyframes blink
  0%
    opacity: 1
  50%
    opacity: 0
  100%
    opacity: 1
